version: "3.9"

services:
  mongo:
    image: mongo:4.4
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - aurabeauty_net

  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/aura
      - PORT=5000
    depends_on:
      - mongo
    networks:
      - aurabeauty_net

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - aurabeauty_net

volumes:
  mongo_data:

networks:
  aurabeauty_net:
    driver: bridge
